{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<nav class="navbar navbar-light bg-transparent">
  <a class="navbar-brand text-light">
    <img src="{% static 'images/image.png' %}" width="30" height="40" class="d-inline-block align-top" alt="">
    National Institute Of Technology, Jamshedpur
  </a>
  {% if user.is_authenticated %}
    <form class="form-inline">
      <a class="github-button" href="https://github.com/piyush072/studentPortal/fork" data-size="large" aria-label="Fork piyush072/studentPortal on GitHub">Fork</a>
      <script async defer src="https://buttons.github.io/buttons.js"></script>
      <a class="nav-item nav-link mr-sm-2" href="#">
        {% if user.first_name != "" %}
        {{ user.first_name }} {{ user.last_name }}
        {% else %}
        {{ user.username }}
        {% endif %}
      </a>
      <a class="nav-item nav-link mr-sm-2" href="{% url 'logout' %}"> <button type="button" class="btn btn-danger bg-transparent text-danger" name="button">Logout</button> </a>
    </form>
  {% else %}
  <form class="form-inline">
    <a class="nav-item nav-link mr-sm-2" href="{% url 'signup' %}"> <button type="button" class="btn btn-primary bg-transparent text-primary" name="button">SignUp</button> </a>
    <a class="nav-item nav-link mr-sm-0" href="{% url 'login' %}"> <button type="button" class="btn btn-success bg-transparent text-success" name="button">Login</button> </a>
  </form>
  {% endif %}
</nav>
{% if user.is_authenticated %}
<div class="container" style="padding-top: 50px;">
  <div class="card bg-transparent" style="width: 100%; text-align: center;">
    <h1 class="text-light">Department of Computer Science and Engineering</h1>
  </div>
</div>
<div class="container" style="padding-top : 70px;">
  <div class="card-deck">
    <a href="{% url 'timetable' %}">
      <div class="card bg-transparent border-light" style="width: 20rem; height: 20rem; text-align: center;">
        <h3 class="text-light">Time Table</h3>
        <img src="{% static 'images/book1.png' %}" style="width: 100%; height: 90%;" alt="">
      </div>
    </a>
    <a href="{% url 'faculty' %}">
      <div class="card bg-transparent border-light" style="width: 20rem; height: 20rem; text-align: center;">
        <h3 class="text-light">Faculty</h3>
        <img src="{% static 'images/user.png' %}" class="center" style="width: 90%; height: 90%;" alt="">
      </div>
    </a>
    <a href="{% url 'developers' %}">
      <div class="card bg-transparent border-light" style="width: 20rem; height: 20rem; text-align: center;">
        <h3 class="text-light">Developers</h3>
        <img src="{% static 'images/devico.png' %}" class="center" style="width: 90%; height: 90%;" alt="">
      </div>
    </a>
  </div>
</div>
{% else %}
<div class="container" align="center" style="margin-top: 130px;">
  <div class="card bg-transparent" style="width: 18rem;">
    <img src="{% static 'images/image.png' %}" style="width: 100%; " alt="">
  </div>
</div>

{% endif %}
{% endblock %}
