{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container text-light" align="center" style="padding-top: 20px;">
  <div class="card border-light bg-transparent" style="width: 20rem;">
    <div class="container" id='c2'>
      <h2>Sign Up</h2>
      <a href="{% url 'home' %}">
        <img src="{% static 'images/image.png' %}" alt="">
      </a>
      {% if registered %}
        <h1>Thank you for registering</h1>
      {% else %}
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ profile_form.as_p }}
        {{ user_form.as_p }}
        <button class="btn btn-success bg-transparent text-success" type="submit" style="margin-bottom: 7px;">Sign up</button>
      </form>
      {% endif %}
    </div>

    <div class="card-footer bg-transparent border-light"> <p class="text-light">Already a user?</p> <a href="{% url 'login' %}"> <button type="button" class="btn btn-primary bg-transparent text-primary" name="button">Login</button> </a>  </div>
  </div>
  </div>
</div>

{% endblock %}
