<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="{% static 'images/nit.png' %}">
    <style media="screen">

    table#t01 tr:nth-child(even) {
      border: 1px solid white;
      background-color: transparent;
    }
    table#t01 tr:nth-child(odd) {
      border: 1px solid white;
      background-color: transparent;
    }
    table#t01 th {
      border: 1px solid white;
      color: white;
      background-color: transparent;
    }
    table#t02 tr:nth-child(even) {
      border: 1px solid white;
      background-color: transparent;
    }
    table#t02 tr:nth-child(odd) {
      border: 1px solid white;
      background-color: transparent;
    }
    table#t02 th {
      border: 1px solid white;
      color: white;
      background-color: transparent;
    }

      #c1{
        padding-top: 110px;
      }
      #c2{
        margin-top: 20px;
      }
      img{
        padding-bottom: 7px;
      }
      canvas{
        display: block;
        vertical-align: bottom;
      }
      #particles-js{
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #000000;
          position: fixed;
          z-index: -1;
      }
      ** {box-sizing: border-box}
        body {font-family: "Lato", sans-serif;}

        /* Style the tab */
        .tab {
          float: left;
          border: 1px solid #ccc;
          background-color: transparent;
          width: 15%;
          height: 100%;
        }

        /* Style the buttons inside the tab */
        .tab button {
          display: block;
          background-color: inherit;
          color: white;
          padding: 22px 16px;
          width: 100%;
          border: none;
          outline: none;
          text-align: center;
          cursor: pointer;
          transition: 0.3s;
          font-size: 24px;
          height: 95px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
          background-color: #ddd;
        }

        /* Create an active/current "tab button" class */
        .tab button.active {
          background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
          float: left;
          padding: 0px 12px;
          border: 1px solid #ccc;
          width: 85%;
          border-left: none;
          height: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>

    <div class="" id="particles-js"></div>
    <script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <nav class="navbar navbar-light bg-transparent">
	  <a class="navbar-brand text-light">
	   	 <img src="{% static 'images/image.png' %}" width="30" height="40" class="d-inline-block align-top" alt="">
	    	National Institute Of Technology, Jamshedpur
	 	 </a>
	  <form class="form-inline">
	     <a class="nav-item nav-link mr-sm-0" href="{% url 'home' %}"> <button type="button" class="btn btn-warning bg-transparent text-warning" name="button">Back</button> </a>
  </form>
  </nav>
  <br>
  <h1 class="text-info text-center">TIME-TABLE(for Spring Semester,2018-19)</h1>
  <br>
<div class="container text-center">
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'id1')" id="defaultOpen">1st Year</button>
    <button class="tablinks" onclick="openTab(event, 'id2')">2nd Year</button>
    <button class="tablinks" onclick="openTab(event, 'id3')">3rd Year</button>
    <button class="tablinks" onclick="openTab(event, 'id4')">4th Year</button>
  </div>

  <div id="id1" class="tabcontent text-light">
    <div class="" style="overflow-x:auto;">
      <table id="t01" width="100%">
        <tr align="center">
          <th></th>
          <th>08:00-08:55</th>
          <th>09:00-09:55</th>
          <th>10:00-10:55</th>
          <th>11:00-11:55</th>
          <th>12:00-12:55</th>
          <th>02:00-02:55</th>
          <th>03:00-03:55</th>
          <th>04:00-04:55</th>
        </tr>
        <tr align="center">
          <td>Monday</td>
          <td>CH1201</td>
          <td>ME1201</td>
          <td>CS1201</td>
          <td>MA1202</td>
          <td>HS1201</td>
          <td colspan="2">CS1101</td>
        </tr>
        <tr align="center">
          <td>Tuesday</td>
          <td>CH1202</td>
          <td>ME1202</td>
          <td>MF1201</td>
          <td>MA1202</td>
          <td>HS1201</td>
          <td>CH1201</td>
          <td>ME1201</td>
        </tr>
        <tr align="center">
          <td>Wednesday</td>
          <td>CH1202</td>
          <td>ME1202</td>
          <td>MF1201</td>
          <td>MA1202</td>
          <td>HS1201</td>
          <td>CH1201</td>
        </tr>
        <tr align="center">
          <td>Thursday</td>
          <td>ME1201</td>
          <td>HS1201</td>
          <td>CS1201</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr align="center">
          <td>Friday</td>
          <td>CH1202</td>
          <td>ME1202</td>
          <td>MF1201</td>
          <td>MA1202</td>
          <td></td>
          <td>CH1201</td>
          <td>ME1201</td>
        </tr>
        <tr>
        </table>

        <table id="t02" width="100%">
          <tr align="center">
            <th>Sl#</th>
            <th>Subject Code</th>
            <th>Subject Name</th>
            <th>Credit</th>
            <th>Faculty Name</th>
          </tr>
          <tr align="center">
            <td>1</td>
            <td>CH1201</td>
            <td>Engineering Chemistry</td>
            <td>4</td>
            <td></td>
          </tr>
          <tr align="center">
            <td>2</td>
            <td>MA1202</td>
            <td>Mathematics-1</td>
            <td>4</td>
            <td></td>
          </tr>
          <tr align="center">
            <td>3</td>
            <td>ME1201</td>
            <td>Engineering Mechanics</td>
            <td>4</td>
            <td></td>
          </tr>
          <tr align="center">
            <td>4</td>
            <td>HS1201</td>
            <td>English of Communication</td>
            <td>4</td>
            <td></td>
          </tr>
          <tr align="center">
            <td>5</td>
            <td>CS1201</td>
            <td>Computer Programming</td>
            <td>2</td>
            <td></td>
          </tr>
          <tr align="center">
            <td>6</td>
            <td>CS1101</td>
            <td>Computer Programming Lab</td>
            <td>1</td>
            <td></td>
          </tr>
          <tr align="center">
            <td>7</td>
            <td>CH1202</td>
            <td>Engineering Chemistry Lab</td>
            <td>3</td>
            <td></td>
          </tr>
          <tr align="center">
            <td>8</td>
            <td>ME1202</td>
            <td>Engineering Mechanics Lab</td>
            <td>3</td>
            <td></td>
          </tr>
          <tr align="center">
            <td>9</td>
            <td>MF1201</td>
            <td>Workshop</td>
            <td>3</td>
            <td></td>
          </tr>
        </table>
      </div>

  </div>

  <div id="id2" class="tabcontent text-light">
    <div style="overflow-x:auto;">
  <table id="t01" width="100%">
    <tr align="center">
      <th></th>
      <th>08:00-08:55</th>
      <th>09:00-09:55</th>
      <th>10:00-10:55</th>
      <th>11:00-11:55</th>
      <th>01:00-01:55</th>
      <th>02:00-02:55</th>
      <th>03:00-03:55</th>
      <th>04:00-04:55</th>
    </tr>
    <tr align="center">
      <td>Monday</td>
      <td colspan="2">CS408</td>
      <td colspan="2">CS407</td>
      <td>CS402</td>
      <td>CS403</td>
      <td>CS404</td>
      <td>CS405</td>
    </tr>
    <tr align="center">
      <td>Tuesday</td>
      <td colspan="2">CS408</td>
      <td colspan="2">CS406</td>
      <td>CS402</td>
      <td>CS403</td>
      <td>CS404</td>
      <td>CS401</td>
    </tr>
    <tr align="center">
      <td>Wednesday</td>
      <td></td>
      <td></td>
      <td colspan="2">CS406</td>
      <td>CS402</td>
      <td>CS403</td>
      <td>CS405</td>
      <td>CS401</td>
    </tr>
    <tr align="center">
      <td>Thursday</td>
      <td></td>
      <td></td>
      <td colspan="2">CS407</td>
      <td>CS402</td>
      <td>CS404</td>
      <td>CS405</td>
      <td>CS401</td>
    </tr>
    <tr align="center">
      <td>Friday</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>CS404</td>
      <td>CS403</td>
      <td>CS405</td>
      <td>CS401</td>
    </tr>
    <tr>
  </table>

  <table id="t02" width="100%">
    <tr align="center">
      <th>Sl#</th>
      <th>Subject Code</th>
      <th>Subject Name</th>
      <th>Credit</th>
      <th>Faculty Name</th>
    </tr>
    <tr align="center">
      <td>1</td>
      <td>CS401</td>
      <td>Database Management Sytem</td>
      <td>4</td>
      <td>Dr. Koushlendra Kumar Singh(CSE)</td>
    </tr>
    <tr align="center">
      <td>2</td>
      <td>CS402</td>
      <td>Theory of Computation</td>
      <td>4</td>
      <td>Dr. Vinay Kumar(CSE)</td>
    </tr>
    <tr align="center">
      <td>3</td>
      <td>CS403</td>
      <td>Microprocessor and Interfacing</td>
      <td>4</td>
      <td>Dr. Ajay Kumar(ECE)</td>
    </tr>
    <tr align="center">
      <td>4</td>
      <td>CS404</td>
      <td>Data Communication</td>
      <td>4</td>
      <td>Dr. Swagatateb Sahoo(ECE)</td>
    </tr>
    <tr align="center">
      <td>5</td>
      <td>CS405</td>
      <td>Software Engineering</td>
      <td>4</td>
      <td>Temp Faculty</td>
    </tr>
    <tr align="center">
      <td>6</td>
      <td>CS406</td>
      <td>Database Management Sytem Lab</td>
      <td>2</td>
      <td>Dr. Koushlendra Kumar Singh(CSE)</td>
    </tr>
    <tr align="center">
      <td>7</td>
      <td>CS407</td>
      <td>Microprocessor and Interfacing Lab</td>
      <td>2</td>
      <td>Dr. Ajay Kumar(ECE)</td>
    </tr>
    <tr align="center">
      <td>8</td>
      <td>CS408</td>
      <td>Software Engineering Lab</td>
      <td>2</td>
      <td>Temp Faculty</td>
    </tr>
  </table>
  </div>
  </div>

  <div id="id3" class="tabcontent text-light">
    <div style="overflow-x:auto;">
  <table id="t01" width="100%">
    <tr align="center">
      <th></th>
      <th>08:00-08:55</th>
      <th>09:00-09:55</th>
      <th>10:00-10:55</th>
      <th>11:00-11:55</th>
      <th>01:00-01:55</th>
      <th>02:00-02:55</th>
      <th>03:00-03:55</th>
      <th>04:00-04:55</th>
    </tr>
    <tr align="center">
      <td>Monday</td>
      <td>CS602</td>
      <td>CS603</td>
      <td>CS604</td>
      <td>CS601</td>
      <td></td>
      <td></td>
      <td colspan="2">CS607</td>
    </tr>
    <tr align="center">
      <td>Tuesday</td>
      <td>CS602</td>
      <td>CS603</td>
      <td>CS605</td>
      <td>CS601</td>
      <td></td>
      <td></td>
      <td colspan="2">CS606</td>
    </tr>
    <tr align="center">
      <td>Wednesday</td>
      <td>CS602</td>
      <td>CS603</td>
      <td>CS605</td>
      <td>CS601</td>
      <td></td>
      <td></td>
      <td colspan="2">CS606</td>
    </tr>
    <tr align="center">
      <td>Thursday</td>
      <td>CS602</td>
      <td>CS604</td>
      <td>CS605</td>
      <td>CS601</td>
      <td></td>
      <td></td>
      <td colspan="2">CS607</td>
    </tr>
    <tr align="center">
      <td>Friday</td>
      <td></td>
      <td>CS604</td>
      <td>CS605</td>
      <td>CS603</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
  </table>

  <table id="t02" width="100%">
    <tr align="center">
      <th>Sl#</th>
      <th>Subject Code</th>
      <th>Subject Name</th>
      <th>Credit</th>
      <th>Faculty Name</th>
    </tr>
    <tr align="center">
      <td>1</td>
      <td>CS601</td>
      <td>Parallel & Distributed Computing</td>
      <td>4</td>
      <td>Mr. Sanjay Kumar(CSE)</td>
    </tr>
    <tr align="center">
      <td>2</td>
      <td>CS602</td>
      <td>Advanced Computer Architecture</td>
      <td>4</td>
      <td>Mr. Rajiv Ranjan Suman(CSE)</td>
    </tr>
    <tr align="center">
      <td>3</td>
      <td>CS603</td>
      <td>Compiler Design</td>
      <td>4</td>
      <td>Dr. Subhash Chandra(CSE)</td>
    </tr>
    <tr align="center">
      <td>4</td>
      <td>CS604</td>
      <td>Principles of Economics</td>
      <td>3</td>
      <td>Dr. Akanksha Shukla(HUM)</td>
    </tr>
    <tr align="center">
      <td>5</td>
      <td>CS605</td>
      <td>Optimization Techniques</td>
      <td>4</td>
      <td>Dr. Dilip Kumar(CSE)</td>
    </tr>
    <tr align="center">
      <td>6</td>
      <td>CS606</td>
      <td>Compiler Design lab</td>
      <td>2</td>
      <td>Dr. Subhash Chandra(CSE)</td>
    </tr>
    <tr align="center">
      <td>7</td>
      <td>CS607</td>
      <td>Optimization Techniques Lab</td>
      <td>2</td>
      <td>Dr. Dilip Kumar(CSE)</td>
    </tr>
  </table>
  </div>
  </div>

  <div id="id4" class="tabcontent text-light">
    <table id="t01" width="100%">
      <tr align="center">
        <th></th>
        <th>08:00-08:55</th>
        <th>09:00-09:55</th>
        <th>10:00-10:55</th>
        <th>11:00-11:55</th>
        <th>01:00-01:55</th>
        <th>02:00-02:55</th>
        <th>03:00-03:55</th>
        <th>04:00-04:55</th>
      </tr>
      <tr align="center">
        <td>Monday</td>
        <td>CS801</td>
        <td>CS804</td>
        <td>CS803</td>
        <td>CS803A</td>
        <td></td>
        <td></td>
        <td></td>
        <td>CS802</td>
      </tr>
      <tr align="center">
        <td>Tuesday</td>
        <td>CS801</td>
        <td>CS804</td>
        <td>CS803</td>
        <td>CS803A</td>
        <td></td>
        <td></td>
        <td></td>
        <td>CS802</td>
      </tr>
      <tr align="center">
        <td>Wednesday</td>
        <td>CS801</td>
        <td>CS804</td>
        <td>CS803</td>
        <td>CS803A</td>
        <td></td>
        <td></td>
        <td></td>
        <td>CS802</td>
      </tr>
      <tr align="center">
        <td>Thursday</td>
        <td colspan="2">CS805</td>
        <td>CS803</td>
        <td>CS803A</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center">
        <td>Friday</td>
        <td colspan="2">CS805</td>
        <td>CS804</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
    </table>

    <table id="t02" width="100%">
      <tr align="center">
        <th>Sl#</th>
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th>Credit</th>
        <th>Faculty Name</th>
      </tr>
      <tr align="center">
        <td>1</td>
        <td>CS801</td>
        <td>Management Information System</td>
        <td>3</td>
        <td></td>
      </tr>
      <tr align="center">
        <td>2</td>
        <td>CS802</td>
        <td>Distributed Operaring System</td>
        <td>3</td>
        <td>B.K Singh(CSE)</td>
      </tr>
      <tr align="center">
        <td>3</td>
        <td>CS803</td>
        <td>Professional Elective-IV (Pattern Recognition)</td>
        <td>4</td>
        <td>Dr. Koushlendra Kumar Singh(CSE)</td>
      </tr>
      <tr align="center">
        <td>4</td>
        <td>CS803A</td>
        <td>Professional Elective-IV (Real Time Systems)</td>
        <td>4</td>
        <td></td>
      </tr>
      <tr align="center">
        <td>5</td>
        <td>CS804</td>
        <td>Free Elective-III (VLSI) ECE Depat.</td>
        <td>4</td>
        <td></td>
      </tr>
      <tr align="center">
        <td>6</td>
        <td>CS805</td>
        <td>Free Elective-III Lab (VLSI Lab)</td>
        <td>2</td>
        <td></td>
      </tr>
      <tr align="center">
        <td>7</td>
        <td>CS806</td>
        <td>Major Project</td>
        <td>8</td>
        <td></td>
      </tr>
    </table>
    </div>
  </div>

</div>







  <script>

  function openTab(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
  </script>


  </body>
</html>
